<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>signup</title>
        <link rel="stylesheet" href="{{url_for('.static', filename='register.css')}}"
    </head>
    <body>
        <div class="navbar">
           <img src=""> 
    
    
        <ul class="link">
            <a href="mainhtml.html">Home</a>
            <a href="#pages">Pages</a>
            <a href="#features">Features</a>
            <a href="#contact">Contact Us</a>
        </ul>
    
    </div>

        <div class="form">
            <form method="GET" action="{{url_for('login')}}" class="sub-form">
                <h2>Signup form</h2>
                <label>username</label> <br>
                <input type="username" name="username" placeholder="John Doe"><br>
                <label>email</label> <br>
                <input type="email" name="email" placeholder="johndoe@mail.com"><br>
                <label>password</label><br>
            
                <input type="password" name="password" placeholder="New password"><br>
                

                <div class="btn">
                    <button type="submit">signup</button><br>


                </div>


            </form>

        </div>
    </body>   

</html>